<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

  <!-- Servlets -->
	<servlet>
		<servlet-name>channelConnected</servlet-name>
		<servlet-class>com.dimab.pp.channel.ChannelConnect</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>channelConnected</servlet-name>
		<url-pattern>/_ah/channel/connected/</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>channelDisconnected</servlet-name>
		<servlet-class>com.dimab.pp.channel.ChannelDisconnect</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>channelDisconnected</servlet-name>
		<url-pattern>/_ah/channel/disconnected/</url-pattern>
	</servlet-mapping>
	
   <servlet>
       <servlet-name>gettoken</servlet-name>
       <servlet-class>com.dimab.pp.channel.GetToken</servlet-class>
    </servlet>
    <servlet-mapping>
       <servlet-name>gettoken</servlet-name>
       <url-pattern>/gettoken</url-pattern>
    </servlet-mapping>
    
   <servlet>
       <servlet-name>globalSearch</servlet-name>
       <servlet-class>com.dimab.pp.search.SearchNameGeo</servlet-class>
    </servlet>
    <servlet-mapping>
       <servlet-name>globalSearch</servlet-name>
       <url-pattern>/globalSearch</url-pattern>
    </servlet-mapping>
    
   <servlet>
       <servlet-name>nameAutocomplete</servlet-name>
       <servlet-class>com.dimab.pp.search.SearchByNameAutocomplete</servlet-class>
    </servlet>
    <servlet-mapping>
       <servlet-name>nameAutocomplete</servlet-name>
       <url-pattern>/nameAutocomplete</url-pattern>
    </servlet-mapping>
    
   <servlet>
       <servlet-name>setsessiontoken</servlet-name>
       <servlet-class>com.dimab.pp.login.SetSessionTokenProvider</servlet-class>
    </servlet>
    <servlet-mapping>
       <servlet-name>setsessiontoken</servlet-name>
       <url-pattern>/setsessiontoken</url-pattern>
    </servlet-mapping>
  
   	<servlet>
       <servlet-name>disconnectUser</servlet-name>
       <servlet-class>com.dimab.pp.login.DisconnectUser</servlet-class>
    </servlet>
    <servlet-mapping>
       <servlet-name>disconnectUser</servlet-name>
       <url-pattern>/disconnectUser</url-pattern>
    </servlet-mapping>
  	<servlet>
       <servlet-name>connectUser</servlet-name>
       <servlet-class>com.dimab.pp.login.ConnectUser</servlet-class>
    </servlet>
    <servlet-mapping>
       <servlet-name>connectUser</servlet-name>
       <url-pattern>/connectUser</url-pattern>
    </servlet-mapping>
   
   <servlet>
       <servlet-name>checkGoogleToken</servlet-name>
       <servlet-class>com.dimab.pp.login.CheckGoogleTokenServlet</servlet-class>
    </servlet>
    <servlet-mapping>
       <servlet-name>checkGoogleToken</servlet-name>
       <url-pattern>/checkGoogleToken</url-pattern>
    </servlet-mapping>

    
    <servlet>
       <servlet-name>test</servlet-name>
       <servlet-class>com.dimab.pp.login.TEST</servlet-class>
    </servlet>
    <servlet-mapping>
       <servlet-name>test</servlet-name>
       <url-pattern>/test</url-pattern>
    </servlet-mapping>
    
    <servlet>
       <servlet-name>checkFBToken</servlet-name>
       <servlet-class>com.dimab.pp.login.CheckFBTokenServlet</servlet-class>

    </servlet>
    <servlet-mapping>
       <servlet-name>checkFBToken</servlet-name>
       <url-pattern>/checkFBToken</url-pattern>
    </servlet-mapping>

  
 	<servlet>
       <servlet-name>uploadCanvasImages</servlet-name>
       <servlet-class>com.dimab.pp.JSON.AJAXImageImport</servlet-class>
    </servlet>
    <servlet-mapping>
       <servlet-name>uploadCanvasImages</servlet-name>
       <url-pattern>/uploadCanvasImages</url-pattern>
    </servlet-mapping>

 
 
      <servlet>
       <servlet-name>submitRating</servlet-name>
       <servlet-class>com.dimab.pp.server.RatingSubmit</servlet-class>
    </servlet>
    <servlet-mapping>
       <servlet-name>submitRating</servlet-name>
       <url-pattern>/submitRating</url-pattern>
    </servlet-mapping>
 
     <servlet>
       <servlet-name>alertBookingEvent</servlet-name>
       <servlet-class>com.dimab.pp.server.AlertBookingEvent</servlet-class>
    </servlet>
    <servlet-mapping>
       <servlet-name>alertBookingEvent</servlet-name>
       <url-pattern>/alertBookingEvent</url-pattern>
    </servlet-mapping>
  

     <servlet>
       <servlet-name>deleteIframe</servlet-name>
       <servlet-class>com.dimab.pp.account.DeleteiFrame</servlet-class>
    </servlet>
    <servlet-mapping>
       <servlet-name>deleteIframe</servlet-name>
       <url-pattern>/deleteIframe</url-pattern>
    </servlet-mapping> 
    
     <servlet>
       <servlet-name>getiframeslist</servlet-name>
       <servlet-class>com.dimab.pp.account.GetiFrames</servlet-class>
    </servlet>
    <servlet-mapping>
       <servlet-name>getiframeslist</servlet-name>
       <url-pattern>/getiframeslist</url-pattern>
    </servlet-mapping> 
        
     <servlet>
       <servlet-name>WaUpdateDateBookings</servlet-name>
       <servlet-class>com.dimab.pp.account.WaUpdateBookingsByDate</servlet-class>
    </servlet>
    <servlet-mapping>
       <servlet-name>WaUpdateDateBookings</servlet-name>
       <url-pattern>/WaUpdateDateBookings</url-pattern>
    </servlet-mapping>  


     <servlet>
       <servlet-name>saveIframe</servlet-name>
       <servlet-class>com.dimab.pp.account.SaveIframe</servlet-class>
    </servlet>
    <servlet-mapping>
       <servlet-name>saveIframe</servlet-name>
       <url-pattern>/saveIframe</url-pattern>
    </servlet-mapping> 
        
     <servlet>
       <servlet-name>waiterAccess</servlet-name>
       <servlet-class>com.dimab.pp.account.PlaceWaiterAdministration</servlet-class>
    </servlet>
    <servlet-mapping>
       <servlet-name>waiterAccess</servlet-name>
       <url-pattern>/waiterAccess</url-pattern>
    </servlet-mapping>  
      
   <servlet>
       <servlet-name>loadWaiterList</servlet-name>
       <servlet-class>com.dimab.pp.account.ListWaiterAvailable</servlet-class>
    </servlet>
    <servlet-mapping>
       <servlet-name>loadWaiterList</servlet-name>
       <url-pattern>/loadWaiterList</url-pattern>
    </servlet-mapping>  
    
     <servlet>
       <servlet-name>clientCancelBooking</servlet-name>
       <servlet-class>com.dimab.pp.server.ClientRemoveBooking</servlet-class>
    </servlet>
    <servlet-mapping>
       <servlet-name>clientCancelBooking</servlet-name>
       <url-pattern>/clientCancelBooking</url-pattern>
    </servlet-mapping>   
     <servlet>
       <servlet-name>clientBookingRequest</servlet-name>
       <servlet-class>com.dimab.pp.server.ClientPlaceBooking</servlet-class>
    </servlet>
    <servlet-mapping>
       <servlet-name>clientBookingRequest</servlet-name>
       <url-pattern>/clientBookingRequest</url-pattern>
    </servlet-mapping>

       <servlet>
       <servlet-name>clientBookingHistory</servlet-name>
       <servlet-class>com.dimab.pp.account.ClientBookingHistoryServlet</servlet-class>
    </servlet>
    <servlet-mapping>
       <servlet-name>clientBookingHistory</servlet-name>
       <url-pattern>/clientBookingHistory</url-pattern>
    </servlet-mapping>
    
       <servlet>
       <servlet-name>deletePlace</servlet-name>
       <servlet-class>com.dimab.pp.account.DeletePlaceData</servlet-class>
    </servlet>
    <servlet-mapping>
       <servlet-name>deletePlace</servlet-name>
       <url-pattern>/deletePlace</url-pattern>
    </servlet-mapping>
      
     <servlet>
       <servlet-name>userLoginFacebook</servlet-name>
       <servlet-class>com.dimab.pp.server.UserLoginLogoutFacebook</servlet-class>
    </servlet>
    <servlet-mapping>
       <servlet-name>userLoginFacebook</servlet-name>
       <url-pattern>/userLoginFacebook</url-pattern>
    </servlet-mapping>


	<servlet>
		<servlet-name>toolkitWidget</servlet-name>
		<jsp-file>/toolkit.jsp</jsp-file>
	</servlet> 
	<servlet-mapping>
		<servlet-name>toolkitWidget</servlet-name>
		<url-pattern>/toolkitWidget</url-pattern>
	</servlet-mapping>

    <servlet>
       <servlet-name>checkGoogleStatus</servlet-name>
       <servlet-class>com.dimab.pp.server.CheckGoogleStatus</servlet-class>
    </servlet>
    <servlet-mapping>
       <servlet-name>checkGoogleStatus</servlet-name>
       <url-pattern>/checkGoogleStatus</url-pattern>
    </servlet-mapping>
    
    <servlet>
       <servlet-name>signin_fb</servlet-name>
       <servlet-class>com.dimab.pp.server.FaceBookSignIn</servlet-class>
    </servlet>
    <servlet-mapping>
       <servlet-name>signin_fb</servlet-name>
       <url-pattern>/signin_fb</url-pattern>
    </servlet-mapping>
    
    <servlet>
       <servlet-name>tempBooking</servlet-name>
       <servlet-class>com.dimab.pp.server.ClientTempBooking</servlet-class>
    </servlet>
    <servlet-mapping>
       <servlet-name>tempBooking</servlet-name>
       <url-pattern>/tempBooking</url-pattern>
    </servlet-mapping>
           
    <servlet>
       <servlet-name>checkPidAvailable</servlet-name>
       <servlet-class>com.dimab.pp.server.PlaceAvailableAJAX</servlet-class>
    </servlet>
    <servlet-mapping>
       <servlet-name>checkPidAvailable</servlet-name>
       <url-pattern>/checkPidAvailable</url-pattern>
    </servlet-mapping>
    <servlet>
       <servlet-name>placebooking</servlet-name>
       <servlet-class>com.dimab.pp.server.PlaceBooking</servlet-class>
    </servlet>
    <servlet-mapping>
       <servlet-name>placebooking</servlet-name>
       <url-pattern>/placebooking</url-pattern>
    </servlet-mapping>
    

   	<servlet>
       <servlet-name>welcomeUpdate</servlet-name>
       <servlet-class>com.dimab.pp.server.GenerateWelcomePage</servlet-class>
    </servlet>
    <servlet-mapping>
       <servlet-name>welcomeUpdate</servlet-name>
       <url-pattern>/welcomeUpdate</url-pattern>
    </servlet-mapping>

   	<servlet>
       <servlet-name>checkPlaceUpdate</servlet-name>
       <servlet-class>com.dimab.pp.JSON.CheckPlaceUpdate</servlet-class>
    </servlet>
    <servlet-mapping>
       <servlet-name>checkPlaceUpdate</servlet-name>
       <url-pattern>/checkPlaceUpdate</url-pattern>
    </servlet-mapping>
    
  
    
   <servlet>
       <servlet-name>placeConfiguration</servlet-name>
       <servlet-class>com.dimab.pp.server.ConfigurationEditRequest</servlet-class>
    </servlet>
    <servlet-mapping>
       <servlet-name>placeConfiguration</servlet-name>
       <url-pattern>/placeConfiguration</url-pattern>
    </servlet-mapping>
   	
   	<servlet>
       <servlet-name>editFormfromAccount</servlet-name>
       <servlet-class>com.dimab.pp.account.EditFormfromAccount</servlet-class>
    </servlet>
    <servlet-mapping>
       <servlet-name>editFormfromAccount</servlet-name>
       <url-pattern>/editplacefromAccount</url-pattern>
    </servlet-mapping>
  
 
     <servlet>
       <servlet-name>getiframe</servlet-name>
       <servlet-class>com.dimab.pp.account.ShowIframe</servlet-class>
    </servlet>
    <servlet-mapping>
       <servlet-name>getiframe</servlet-name>
       <url-pattern>/getiframe</url-pattern>
    </servlet-mapping> 
    
 <security-constraint>
        <web-resource-collection>
            <web-resource-name>getiframe</web-resource-name>
            <url-pattern>/getiframe/*</url-pattern>
        </web-resource-collection>
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>  
    
    <servlet>
       <servlet-name>editIFrame</servlet-name>
       <servlet-class>com.dimab.pp.account.EditIFrame</servlet-class>
    </servlet>
    <servlet-mapping>
       <servlet-name>editIFrame</servlet-name>
       <url-pattern>/editIFrame</url-pattern>
    </servlet-mapping> 
    
  
  	<servlet>
       <servlet-name>goToAccount</servlet-name>
       <servlet-class>com.dimab.pp.account.GoToAccont</servlet-class>
    </servlet>
    <servlet-mapping>
       <servlet-name>goToAccount</servlet-name>
       <url-pattern>/gotoaccountmenu</url-pattern>
    </servlet-mapping>
  	<servlet>
       <servlet-name>createPlaceInfo</servlet-name>
       <servlet-class>com.dimab.pp.server.CreatePlaceInfo</servlet-class>
    </servlet>
    <servlet-mapping>
       <servlet-name>createPlaceInfo</servlet-name>
       <url-pattern>/createPlaceInfo</url-pattern>
    </servlet-mapping>   
    
 	<servlet>
       <servlet-name>UserLoginLogout</servlet-name>
       <servlet-class>com.dimab.pp.server.UserLoginLogout</servlet-class>
    </servlet>
    <servlet-mapping>
       <servlet-name>UserLoginLogout</servlet-name>
       <url-pattern>/userLogin</url-pattern>
    </servlet-mapping>
    
	<servlet>
       <servlet-name>ReceiveJSONServlet</servlet-name>
       <servlet-class>com.dimab.pp.JSON.ReceiveJSONServlet</servlet-class>
    </servlet>
    <servlet-mapping>
       <servlet-name>ReceiveJSONServlet</servlet-name>
       <url-pattern>/ReceiveJSONServlet</url-pattern>
    </servlet-mapping>
    
    
   <servlet>
    <servlet-name>cleansession</servlet-name>
    <servlet-class>com.dimab.pp.server.CleanSessions</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>cleansession</servlet-name>
    <url-pattern>/cleansession</url-pattern>
  </servlet-mapping>

  <security-constraint>
    <web-resource-collection>
      <web-resource-name>session-cleanup</web-resource-name>
      <url-pattern>/cleansession</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>admin</role-name>
    </auth-constraint>
  </security-constraint>

  <servlet>
  <servlet-name>appstats</servlet-name>
  <servlet-class>com.google.appengine.tools.appstats.AppstatsServlet</servlet-class>
</servlet>

<servlet-mapping>
  <servlet-name>appstats</servlet-name>
  <url-pattern>/appstats/*</url-pattern>
</servlet-mapping>

<security-constraint>
  <web-resource-collection>
    <web-resource-name>appstats</web-resource-name>
    <url-pattern>/appstats/*</url-pattern>
  </web-resource-collection>
  <auth-constraint>
    <role-name>admin</role-name>
  </auth-constraint>
</security-constraint>

<filter>
  <filter-name>appstats</filter-name>
  <filter-class>com.google.appengine.tools.appstats.AppstatsFilter</filter-class>
  <init-param>
    <param-name>calculateRpcCosts</param-name>
    <param-value>true</param-value>
  </init-param>
</filter>

<filter-mapping>
  <filter-name>appstats</filter-name>
  <url-pattern>/*</url-pattern>
</filter-mapping>
  <!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>welcome.jsp</welcome-file>
	</welcome-file-list>
	<session-config>
		<session-timeout>60</session-timeout>
	</session-config>

</web-app>
